#drop-area {
    display: flex;
    flex-direction: column;
    border: 2px dashed #ccc;
    border-radius: 1rem;
    width: 60%;
    padding: 3%;
}

#drop-area.highlight {
    border-color: purple;
}

form.detect-form {
    background-image: url("../img/upload.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#detect-input-file {
    display: none;
}

label.button {
    display: block;
    width: 15rem;
    background-color: #fff;
}

@media (max-width: 800px) {
    #drop-area {
        width: 80%;
    }
}
