section.feedback-form {
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 60%;
  height: 27rem;
  padding: 2% 4%;
  text-align: center;
  font-size: 2rem;
  transition: height 0.5s ease-in-out;
}

form.submitted {
  border: none;
  height: 2rem;
}

h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 3%;
}

div.form-container {
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 30%;
}

label {
  width: 80%;
  text-align: left;
}

input.regular {
  width: 90%;
}

textarea.description {
  resize: none;
  width: 100%;
  height: 100%;
}

input.button {
  width: 10rem;
  height: 2rem;
  font-size: 1.2rem;
  font-family: inherit;
}

input[type="text"],
input[type="email"],
textarea.description {
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  form {
    width: 90%;
    font-size: 1.3rem;
    height: 30rem;
  }

  div.form-container {
    height: 30rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  input[type="text"],
  input[type="email"],
  textarea.description {
    font-size: 1rem;
  }

  div.input-container {
    flex-direction: column;
  }
}
