section.feedback-head {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.feedback-head > h1 {
  width: 60%;
  height: 100%;
  font-size: 3rem;
  text-align: left;
  padding-top: 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #d3d3d3;
}

section.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 30rem));
  justify-content: center;
  width: 85%;
  min-height: 30rem;
}

.review-container > div > h2 {
  font-size: 3rem;
}

@media (max-width: 350px) {
  section.feedback-head {
    height: 10rem;
  }

  .feedback-head > h1 {
    font-size: 3rem;
  }
}
