body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

main {
    min-height: calc(100vh - 15.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section.main-slider {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.main-slider > p {
    font-size: 1.3rem;
    text-align: justify;
}
