section > h4, section > h5 {
  margin-bottom: 2%;
  margin-top: 2%;
}

div.profile-input-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
}

div.profile-input-container > select,
div.profile-input-container > input {
  font-size: 1.3rem;
  width: 40%;
}

div#buttons-wrapper {
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 10rem));
  justify-content: start;
  column-gap: 2%;
}

div#buttons-wrapper > button {
  display: none;
  font-size: 1.2rem;
}

div#table-wrapper {
  overflow-x: auto;
}

table#diagnostics-history {
  width: 100%;
}

table#diagnostics-history > thead {
  background-color: var(--additional-color);
}

table#diagnostics-history * {
  font-weight: normal;
  font-size: 1.5rem;
}

td,
th {
  height: 2.5rem;
  text-align: center;
}

th.date-col {
  min-width: 10rem;
}

th.result-col {
  min-width: 20rem;
}

th.file-col {
  min-width: 10rem;
}

.invite-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4%;
  max-width: 30rem;
}

#invite-btn {
  text-align: center;
}

#invite-input, #invite-btn {
  font-size: 1.3rem;
  width: 46%;
  min-width: 13rem;
}

@media (max-width: 700px) {
  div.profile-input-container > select,
  div.profile-input-container > input,
  div.profile-input-container > label,
  .grid-2rows-container {
    font-size: 1.1rem;
    width: 90%;
  }
}
