.slider-container {
  position: relative;
  width: 50%;
  aspect-ratio: 3 / 2;
  min-width: 250px;
  min-height: 200px;
  overflow: hidden;
}

.slider {
  display: flex;
}

.slider img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000000;
}

.prev-button:hover,
.next-button:hover {
  background-color: transparent;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media (max-width: 1110px) {
  .slider-container {
    width: 80%;
  }
}
